footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: green;
}
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  background-color: blue;
}